name: Deploy Infrastructure (Master + DNS)

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  # Variáveis Gerais
  AWS_REGION: ${{ vars.AWS_REGION }}
  PROJECT_NAME: ${{ vars.PROJECT_NAME }}
  ENVIRONMENT: ${{ vars.ENVIRONMENT }}
  
  # Armazenamento e Artefatos
  S3_BUCKET: ${{ vars.ARTIFACT_BUCKET }}
  
  # Nomes das Stacks
  STACK_NAME_INFRA: ${{ vars.STACK_NAME_INFRA }}
  STACK_NAME_DNS: ${{ vars.STACK_NAME_DNS }}

  # Configurações de DNS
  DOMAIN_NAME: ${{ vars.DOMAIN_NAME }}
  HOSTED_ZONE_ID: ${{ vars.HOSTED_ZONE_ID }}

jobs:
  deploy-infra:
    name: Deploy Master Infrastructure
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload CloudFormation modules to S3
        run: |
          aws s3 sync infra/templates/modules s3://${{ env.S3_BUCKET }}/modules

      - name: Package master CloudFormation template
        run: |
          aws cloudformation package \
            --template-file infra/templates/master.yaml \
            --s3-bucket ${{ env.S3_BUCKET }} \
            --output-template-file packaged-master.yaml

      - name: Deploy master stack
        run: |
          aws cloudformation deploy \
            --template-file packaged-master.yaml \
            --stack-name ${{ env.STACK_NAME_INFRA }} \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND \
            --parameter-overrides \
              ProjectName=${{ env.PROJECT_NAME }} \
              Environment=${{ env.ENVIRONMENT }} \
              ArtifactsBucket=${{ env.S3_BUCKET }}

  deploy-dns:
    name: Deploy Route53 DNS
    runs-on: ubuntu-latest
    needs: deploy-infra

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy DNS stack
        run: |
          aws cloudformation deploy \
            --template-file infra/templates/modules/dns.yaml \
            --stack-name ${{ env.STACK_NAME_DNS }} \
            --parameter-overrides \
              ProjectName=${{ env.PROJECT_NAME }} \
              Environment=${{ env.ENVIRONMENT }} \
              DomainName=${{ env.DOMAIN_NAME }} \
              HostedZoneId=${{ env.HOSTED_ZONE_ID }}