name: Java CD - Deploy Lambda (URL Shortener)

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-east-1
  PROJECT_NAME: url-shortener
  ENVIRONMENT: prod
  STACK_NAME_LAMBDA: url-shortener-infra-prod # Alinhado com sua stack principal
  ARTIFACT_BUCKET: url-shortener-artifacts-prod-ana
  ARTIFACT_KEY: lambda/url-shortener.jar

jobs:
  deploy-lambda:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Configurar credenciais AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }} # Ajustado para variável de ambiente
          aws-region: ${{ env.AWS_REGION }}

      - name: Build do projeto (Lambda)
        run: |
          cd backend/url-shortener
          mvn -B clean package -DskipTests

      - name: Upload do JAR para o S3
        run: |
          aws s3 cp backend/url-shortener/target/*.jar \
            s3://${{ env.ARTIFACT_BUCKET }}/${{ env.ARTIFACT_KEY }}

      - name: Atualizar stack da Lambda
        run: |
          aws cloudformation deploy \
            --stack-name ${{ env.STACK_NAME_LAMBDA }} \
            --template-file infra/templates/master.yaml \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND \
            --parameter-overrides \
              ProjectName=${{ env.PROJECT_NAME }} \
              Environment=${{ env.ENVIRONMENT }} \
              ArtifactsBucket=${{ env.ARTIFACT_BUCKET }}