name: Deploy Full Stack - URL Shortener

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1

  PROJECT_NAME: url-shortener
  ENVIRONMENT: prod

  ARTIFACT_BUCKET: url-shortener-artifacts-prod-ana
  ARTIFACT_KEY: lambda/url-shortener.jar

  STACK_NAME_INFRA: url-shortener-infra-prod

jobs:
  deploy:
    name: Build, Upload Artifact and Deploy Infrastructure
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: backend/url-shortener/pom.xml

      - name: Configurar credenciais AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      # 1) Build da Lambda
      - name: Build da Lambda
        run: |
          cd backend/url-shortener
          mvn clean package -DskipTests

      # 2) Upload do JAR para o S3
      - name: Upload do JAR para o S3
        run: |
          aws s3 cp backend/url-shortener/target/url-shortener-1.0.0.jar \
            s3://${{ env.ARTIFACT_BUCKET }}/${{ env.ARTIFACT_KEY }}

      # 3) Upload dos templates CloudFormation
      - name: Upload dos módulos CloudFormation para o S3
        run: |
          aws s3 sync infra/templates/modules \
            s3://${{ env.ARTIFACT_BUCKET }}/modules

      # 4) Package do template master
      - name: Package do template master
        run: |
          aws cloudformation package \
            --template-file infra/templates/master.yaml \
            --s3-bucket ${{ env.ARTIFACT_BUCKET }} \
            --output-template-file packaged-master.yaml

      # 5) Deploy do master stack
      - name: Deploy do Master Stack
        run: |
          aws cloudformation deploy \
            --template-file packaged-master.yaml \
            --stack-name ${{ env.STACK_NAME_INFRA }} \
            --capabilities CAPABILITY_NAMED_IAM CAPABILITY_AUTO_EXPAND \
            --parameter-overrides \
              ProjectName=${{ env.PROJECT_NAME }} \
              Environment=${{ env.ENVIRONMENT }} \
              ArtifactsBucket=${{ env.ARTIFACT_BUCKET }}

